.titles {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  border: 1px solid #F2F2F2;
}

.titles__title {
  box-sizing: border-box;
  display: flex;
  padding: 10px;
}

.titles__title-cell {
  align-self: center;
  font-size: 13px;
  line-height: 18px;
  color: #979797;
}

@media (max-width: 576px) {
  .titles {
    display: none;
  }
}
