.button {
  box-sizing: border-box;
  display: inline-block;
  color: #979797;
  background-color: #F7F7F7;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
  padding: 4px 4px;
  border: 1px solid #979797;
  border-radius: 2px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #A0A0A0;
    border-color: black;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}
