.image {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_clickable {
  cursor: pointer;
}

.image__modal {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
