.rows {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 1px;
}

.rows__row {
  border-bottom: 1px solid #F2F2F2;
}

.rows {
  .rows {
    padding: 0;

    .rows__row {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
